@import "fonts";

button.green {
  display: block;
  background: #237BCD;
  border-radius: 5px;
  padding: 16px 54px 16px 54px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 0 0;
  border: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 32px;
  max-width: 440px;


}